/* document styles */
* {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

article {
    width: 1130px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-top: 20px solid #000;
}

header {
    background-color: #fff;
    padding: 20px 0 30px 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #03A9F4;
    outline: none;
    color: #03A9F4;
}

a:hover {
    text-decoration: none;
}

a:hover {
    color: #03A9FA;
}


/* headings */
h1 {
    font-size: 42px; 
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin: 20px 0 5px 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
}

/* typography */
nav a, h1, h2, h3, h4, h5, label, 
    .about p, .name p, #user-msg {
    color: #000;
}

nav a, h1, h2, h3, h4, h5, label, 
    .about p, .about a, .name p, #user-msg {
    font-family: 'Montserrat', Arial, sans-serif;
}

input, p, li {
    color: #000;
}

input, p, a, li, textarea {
    font-family: "Crimson+Text", Arial, sans-serif;
}

.project-details p, .project-details a, article .project-page li {
    font-family: Georgia, Arial, sans-serif;
    line-height: 30px;
}

.project-page p, .project-page li {
    font-size: 18px;
}

.project-page li {
    line-height: 24px;
}

.project-page p {
    line-height: 28px;
}

.project-page p {
    margin: 10px 0 20px 0;
}

/* whitespace */
.row {
	margin: 0 10px;
}

/* clearfix styles */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


.msg-sent {
    display: none;
}

/* nav styles */
nav {
    float: right;
    font-size: 24px;
    line-height: 48px;
    margin-right: 50px;
}
nav ul li {
    list-style-type: none;
    float: left;
    margin: 15px;
}

nav ul li.last {
    margin-right: 0;
}

nav a {
    border-bottom: none;
    color: #000;
}

nav a.active {
    border-bottom: 5px solid #000;
}

nav a:hover {
    border-bottom: 5px solid #000;
    text-decoration: none;
    color: #000;
}

#mainNav {
    margin-top: 4px;
}

.name {
    float: left;
    padding-left: 40px;
    margin-top: 14px;
}

.name p {
    text-transform: uppercase;
    color: #000;
    font-size: 64px;
    font-weight: 600;
}

/* footer styles */
footer {
    background-color: #000;
    padding: 40px;
    width: 100%;
}

.footer-nav {
    float: right;
    margin-right: 40px;
    font-size: 18px;
    line-height: 35px;
}

footer p, footer a {
    color: #ddd;  
}

footer a {
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 5px solid #ddd;
    text-decoration: none;
    color: #ddd;
}

footer p {
    background-color: none;
    font-size: 16px;
    line-height: 20px;
}

.copyright {
    margin-top: 20px;
}

.social-media {
    margin-top: 25px;
}

.social-media a {
    padding-right: 3px;
    border-bottom: none;
    fill: #333;
}

.social-media a:hover {
    border-bottom: none;
}

div.social-media a {
    width: 36px;
    height: 35px;
    display: block;
    float: left; 
    margin-right: 15px;
}

.social-github {
    background: url('../imgs/svg/social-icons.svg') 
        no-repeat;
    background-size:cover;
    background-position: -52px 0;
}

a.social-twitter {
    background: url('../imgs/svg/social-icons.svg') 
        no-repeat;
    background-size:cover;
    margin-right: 0;
}

.social-linkedin {
    background: url('../imgs/svg/social-icons.svg') 
        no-repeat;
    background-size:cover;
    background-position: -104px 0;
}

svg:hover #github {
    fill: #000;
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
}

.contact-info li {
    margin-bottom: 10px;
}

/* button styles */
.button {
    margin: 20px 0 20px 0;
    padding: 20px 30px;
    background-color: #f7c1b7;
    color: #000;
    font-size: 18px;
    border-radius: 4px;
    width: 250px;
    height: 60px;
    text-decoration: none;
    border: 2px solid #000;
}

.button:hover {
	background-color: #DEADA4;
    text-decoration: none;
}

/* project styles */
.project {
	width: 100%;
    margin: 0 30px 30px 0;
    background-color: #fff;
    border: 2px solid #000;
/*    background-color: #f5f5f5;
    box-shadow: 0 3px 3px #ccc;*/
    cursor: pointer;
}

.project:hover {
    -webkit-transition: transform 0.1s ease-in-out;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03); 
    -moz-transform: scale(1.03);
}

.project-img {  
    height: 270px;
    background-repeat: no-repeat;
    background-position: center; 
/*    border-radius: 3px 3px 0 0;*/
    background-size: contain;
}

.project-img-cont {
    padding: 10px;
}

.project-page h2 {
    margin-top: 0;
}

.project-page h3 {
    margin-top: 9px;
}

.project-page li {
    margin-bottom: 8px;
}

.project-page ul {
    margin-bottom: 35px;
}

.project-info {
    padding: 15px;
    border-top: 2px solid #000;
    background-color: #fff;
/*    background-color: #00BCD4;
    border-radius: 0 0 3px 3px;*/
}

.project-info h3, .project-info p {
    color: #000;
}

.project-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 13.5px;
}

.projects a {
    color: #000;
}

/* project background imgs */
.art-guide {
    background-image: 
        url('../imgs/project-imgs/art-guide/main.png'); 
}

.ruby-curriculum {
    background-image: 
        url('../imgs/project-imgs/ruby-curriculum/main.png'); 
}

.conception-tracking {
    background-image: url('../imgs/project-imgs/conception-tracking/main.png');
}

.health-insurance-viz {
    background-image: url('../imgs/project-imgs/health-insurance-viz/main.svg');
}

.claim-table-design {
    background-image: url('../imgs/project-imgs/claim-table-design/main.png');
}

.autonomous-vehicle-system {
    background-image: 
        url('../imgs/project-imgs/autonomous-vehicle-system/main.png');
}

.ecommerce {
    background-image: 
        url('../imgs/project-imgs/e-commerce/main.png');
}

/* hamburger menu styles */
.hamburger {
    display: none;
    width: 30px;
    float: right;
    margin: 30px 30px 0 0;
}

#menuText {
    margin-top: 8px;
    font-size: .75em;
}

#line1, #line2, #line3 {
    border-bottom: 5px solid #000;
    margin-bottom: 5px;    
}

.line1-rotate, .line2-rotate, .line3-rotate, 
    .no-rotate {
    -webkit-transition: transform 0.2s ease-in-out;
}

.no-rotate {
    transform: rotate(0deg) translate(0, 0) 
        scale(1, 1);
    opacity: 1;
}

.line1-rotate {
    transform: rotate(45deg) translate(4px, 11px);
}

.line2-rotate {
    transform: scale(0.2, 0.2);
    opacity: 0;
}

.line3-rotate {
    transform: rotate(-45deg) translate(3px, -10px);
}

/* form styles */
form {
    width: 459px;
}

input, textarea {
    width: 100%;
	height:42px;
	background:#fff;
	border:2px solid #000;
	padding:10px;
    margin: 10px 0 25px 0;
	font-size:18px;
	color:#3a3a3a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

textarea {
    height: 213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    margin-top:20px;
    cursor:pointer;
    height: 60px;
    width: 150px;
}

#submit:hover {
    opacity:.9;
}

/* error/success msg on form */
#user-msg {
    display: none;
    margin: 10px 0;
}

.contact form {
    padding-left: 0;
}

label, #user-msg {
    font-size: 20px;
}

.error {
    color: #ff0000;
}

.error-border {
    border: 2px solid #ff0000;
}

.reset-border {
    border: 1px solid #dedede;
}

/* contact form styles */
.contact p, .thank-you p.desc {
    font-size: 18px;
    margin: 20px 0 30px 0;
    line-height: 24px;
    font-family: Georgia, Arial, sans-serif;
}

.contact img {
    display: block;
    height: 535px;
    margin: auto;
    border-radius: 4px;
}

p.caption {
    font-size: 14px;
    display: block;
    margin: auto;
    width: 355px;
    margin-top: 5px;
    line-height: 20px;
}

/* resume styles */
.intro-block p {
	font-size: 24px;
	margin: 40px 0;
	line-height: 32px;
}

.skills h4 {
	margin-bottom: 8px;
}

.skills ul li {
	margin-bottom: 8px;
}

div.skills {
	margin-bottom: 20px;
}

.skills div {
	padding: 0;
}

.education, .skills {
	padding: 0;
}

.work-exp {
	margin-top: 30px;
}

.resume h3,
.intro-block h2,
.work-exp h4 {
	font-weight: 600;
}

.resume h3 {
    text-transform: uppercase;
}

.work-exp h4 {
	margin-bottom: 5px;
}

.intro-block h2 {
	font-size: 48px;
}

.intro-block h3 {
    color: #646362;
    font-size: 20px;
    text-transform: none;
}

.ed-type {
	margin-bottom: 20px;
}

.ed-type p {
	margin-top: 5px;
}

.work-exp div {
	margin-bottom: 15px;
}

.work-exp p {
	line-height: 22px;
}

.resume p {
	max-width: 400px;
}

.resume .when {
	font-size: .8em;
}

.project-details {
    padding-right: 60px;
}

.resume h4, .resume .work-exp h5 {
    font-weight: 600;
    color: #646362;
    font-size: 18px;
}

.resume .work-exp h4 {
    color: #212121;
    font-size: 20px;
    margin-bottom: 10px;
}

.resume .work-exp div:nth-of-type(3) {
    margin-top: 30px;
}

.html-resume {
    border: 2px solid #000;
}

.project-page img {
    margin: 0 auto;
    max-width: 650px;
    margin-bottom: 30px;
    display: block;
}

.healthviz .project-page img {
    max-width: 350px;
}

.project-page img.with-caption {
    margin-bottom: 0;
}

.project-page .pair-imgs {
    padding: 0;
}

.project-page .pair-imgs img {
    margin: 0;
    width: 100%;
    max-width: 300px;
}

.project-page p.caption {
    max-width: 300px;
    margin-bottom: 20px;
}

.project-page div.pair-imgs p.caption { 
    margin: 5px 0 20px 0;
    padding-left: 5px;
}

.project-page h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.blockquote {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 30px 0 35px 0;
}
.blockquote p::before {
    content: "\201C";
}

.blockquote p::after {
    content: "\201D";
}

.blockquote p {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    margin: 12px 0 15px 0;
}


/* media queries */
@media only screen and (max-width : 1200px) {
    #mainNav {
        display: block;
    }
    
    .hamburger {
        display: none;
    }
    
    #mainNav ul {
        padding-top: 10px;
    }
    
    nav {
        line-height: 16px;
    }
    
    .name p{
        font-size: 50px;
        padding-top: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {      
    #mainNav {
        width: 100%;
        margin: 0;
        display: none;
    }
    
    .hamburger {
        display: inline;
    }
    
    nav ul li {
        width: 100%;
        text-align: center;
    }
    
    .name {
        padding-top: 0;
    }
    
    .name p {
        width: 100px;
        font-size: 34px;
    }

    .container {
        margin: 0;
        width: 100%;
    }

    .project-page .pair-imgs img,
    .project-page p.caption,
    .project-page div.pair-imgs p.caption  {
        margin: 0 auto;
    }

    .project-page p.caption,
    .project-page div.pair-imgs p.caption {
        margin-top: 5px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width : 834px) {   
    .skills div:nth-of-type(2) {
        top: 18px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .about {
        background-image: url('../imgs/background.jpg');
    }
    
    .project {
        margin-right: 0;
    }
    
    .about-1, .about-2, .about-3 {
        width: 100%;
    }
    
    .about-2, .about-3 {
        font-size: 39px;
    }
  
    footer p, .footer-nav {
        text-align: center;
    }
    
    .footer-nav {
        float: none;
        margin: 0 0 40px 0;
        font-size: 24px;
    }
    
    ul.footer-nav li {
        margin-bottom: 8px;
    }
    
    .social-media {
        width: 176px;
        margin: 30px auto;
    }
    
    div.social-media a {
        width: 46px;
        height: 46px;
        display: inline-block;
    }

    .social-github, .social-linkedin {
        background-size: 176px;
    }
    
    .social-github {
        background-position: -65px 0;
    }

    div.social-media a.social-twitter {
        margin-right: 0;
    }

    .social-linkedin {
        background-position: -131px 0;
    }

    .work-exp {
        margin-top: 10px;
    }

    .skills div:nth-of-type(2n) {
        margin-top: 15px;
    }

    .skills div:nth-of-type(2) {
        top: 0;
    }

    input, textarea, form {
        width: 100%;
    }

    .project-page img {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {    
    .project-details, .project-facts {
        width: 100%;
    }

    .project-details {
        padding-right: 15px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}