<footer role="contentinfo">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <ul class="footer-nav">
                <li><a href="{{ site.baseurl }}index.html">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}resume.html">R&eacute;sum&eacute;</a></li>
                <li><a href="{{ site.baseurl }}contact.html">Contact</a></li>
            </ul>
        </div>                
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <p>This is the online portfolio of susan evans&mdash;a full-stack designer, and computer science educator.</p>
            <p class="copyright">&copy; Copyright Susan Evans. All rights reserved.</p>
            <div class="social-media">
                <a class="social-github" href="http://github.com/susanev" title="Github" aria-label="Follow on Github"></a>
                <a class="social-linkedin" href="http://www.linkedin.com/in/susanev" title="Linkedin" aria-label="Follow on Linked in"></a>
                <a class="social-twitter" href="http://twitter.com/susan__ev" title="Twitter" aria-label="Follow on Twitter"></a>
            </div>
        </div>
    </div>
</footer>