<header class="clearfix">
    <a class="name" href="{{ site.baseurl }}index.html" aria-label="Home">Susan Evans</a>
    <div class="hamburger" onclick="toggleNav()" onkeypress="toggleNav()" role="button" tabindex="0">
        <div id="line1" class="no-rotate"></div>
        <div id="line2" class="no-rotate"></div>
        <div id="line3" class="no-rotate"></div>
        <div><p id="menuText">Menu</p></div>
    </div>
    <nav id="mainNav">
        <ul>
            <li><a class="{% if page.url == '/' %}active{% endif %}" href="{{ site.url }}/index.html">Portfolio</a></li>
            <li><a class="{% if page.url == '/resume.html' %}active{% endif %}" href="{{ site.url }}/resume.html">R&eacute;sum&eacute;</a></li>
            <li class="last"><a class="{% if page.url == '/contact.html' %}active{% endif %}" href="{{ site.eurl }}/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>